<!DOCTYPE html>
<html>
 
<head>
  <% include ../includes/header.ejs %>
</head>
 
<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>

    <div class="container">
      <h2>Add User</h2>
      <form action="/ta02/addUser" method="POST">
        <input type="text" name="username">
        <button type="submit">Add User</button>
      </form>
      
      <!-- sends an error if there are duplicates -->
      <% if(!uniqueName) { %>
        <p style="color:red; margin-top: 5px;"><strong>Error: name already exists!</strong></p>
        <% } %>

      <div class="display-names">
        <h3>User List:</h3>
          <ul>
            <!-- remeber javascript uses let! -->
              <% for(let i = 0; i < users.length;i++) { %>
              <li> <%= users[i] %></li>
              <% }; %>
          </ul>
      </div> 

      <h2>Remove User</h2>
      <form action="/ta02/removeUsername" method="POST">
        <input type="text" name="removeUsername">
        <button type="submit">Remove User</button>
      </form>

      <!-- sends an error if the name doesn't exist in the array -->
      <% if(!nameFound) { %>
      <p style="color:red; margin-top: 5px;"><strong>Error: name not found!</strong></p>
      <% } %>

    </div>
 
</body>
 
</html>